:root {
  --primary-color: #ffc300;
  --black-color: #000814;
  --semi-black: #020e20;
  --semi-black-medium: #003566;
  --white-color: #f1faee;
}

h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 77px;
}

.container {
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  padding: 0rem 4rem;
}

.btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 1.4rem 3rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
}

.btn:hover {
  transform: scale(1.1);
}
#menu li a:hover {
  transform: scale(1.05);
}
