* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

body {
  background-color: var(--black-color);
}

main h2,
footer h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 77px;
  color: var(--white-color);
  text-transform: uppercase;
}
main h2 span,
footer h2 span {
  color: var(--primary-color);
}
