/* Header =========* */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 25;
}
header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 4em;
  align-items: center;
  flex-wrap: wrap;
}
#logo {
  margin-right: 3rem;
  font-size: 3.6rem;
  color: var(--primary-color);
  font-family: "Inter";
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-nav li {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2.4rem;
  transition: all 0.2s;
}
.header-nav ul li a:hover {
  color: var(--white-color);
  opacity: 0.9;
}
.header-nav ul li a {
  display: flex;
  color: var(--primary-color);
}
.header-nav ul li {
  margin-right: 3rem;
}
.header-nav ul {
  display: flex;
  align-items: center;
}
.header-nav a {
  margin-right: 4rem;
}
.header-social {
  display: flex;
  align-items: center;
}

/* Hero Section =========* */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 100)),
    url(../img/background.png);
  background-color: var(--black-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero .container .hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 62rem;
  margin-top: 28rem;
  padding-bottom: 8rem;
  height: 100vh;
}

.hero h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 5.2rem;
  text-align: center;
  color: var(--white-color);
}
.hero h1 span {
  color: var(--primary-color);
  font-size: 4.8rem;
}
.hero h2 {
  font-family: "Poppins";
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.8rem;
  line-height: 3.6rem;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-top: 2.4rem;
  text-transform: none;
}
.hero p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-align: center;
  color: var(--primary-color);
  margin-top: 3.2rem;
}

.empty {
  border: 1px solid var(--semi-black);
  color: var(--black-color);
  margin-top: 6rem;
  padding: 1.2rem 3.6rem;
  transition: all 0.3s;
  background: rgb(255, 214, 10);
  background: linear-gradient(
    90deg,
    rgba(255, 214, 10, 1) 18%,
    rgba(230, 194, 15, 1) 49%,
    rgba(235, 236, 27, 1) 86%,
    rgba(240, 237, 20, 1) 100%
  );
  text-transform: uppercase;
}
.btn.empty:hover {
  opacity: 0.8;
}
/* Success Section =========* */

.success {
  color: var(--white-color);
  padding: 6rem 0rem;
  background: var(--black-color);
}
.chama {
  background: var(--white-color);
  width: 13rem;
  border-radius: 5rem;
  padding: 1.2rem;
  text-align: center;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card {
  color: var(--black-color);
  background: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30rem;
  padding: 2rem;
  margin-right: 2.5rem;
  width: 32rem;
  transition: all 0.2s;
  border-radius: 0.5rem;
  gap: 2rem;
}

.card:hover {
  transform: scale(1.04);
  opacity: 0.8;
}

.black {
  background-color: var(--black-color);
  padding: 0rem;
}
.black h3 {
  color: var(--white-color);
}
.yellow {
  background: var(--primary-color);
  color: var(--white-color);
}
.card h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 6.4rem;
  line-height: 7.7rem;
}
.card.black h3 {
  font-weight: 800;
}
.card h3 span {
  color: var(--primary-color);
}

.card h4 {
  font-size: 3.2rem;
  line-height: 3.9rem;
  font-weight: 300;
  font-style: normal;
  font-family: "Inter";
}

/* About Section =========* */
.about {
  background-color: var(--semi-black);
}
.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-content {
  flex: 2;
  padding: 4rem 0rem;
}

.about-img {
  flex: 1;
  transition: all 0.2s;
}
.about-img:hover {
  transform: scale(1.05);
}

.about-content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  max-width: 70rem;
  padding: 2.4rem 0rem;
  color: var(--white-color);
}
.about-social {
  display: flex;
}

.about-social img {
  margin-right: 2rem;
  transition: all 0.2s;
}
.about-social img:hover {
  transform: translateY(-15%);
  opacity: 0.8;
}

/* Cases Section =========* */

.cases-section {
  padding: 6rem 0rem;
}
.cases-title {
  padding: 4rem 0rem;
}

.cases-section .github {
  padding: 1.4rem;
  font-size: 2.4rem;
  color: var(--white-color);
  display: flex;
  justify-content: center;
}
.cases-section .github a {
  display: inline-block;
  font-size: 2.4rem;
  color: var(--white-color);
  transition: 0.2s all;
}

.cases-section .github a:hover {
  transform: scale(1.1);
}

/* Contact Section =========* */
.contact {
  background: var(--semi-black);
}
.contact .container {
  display: flex;
  justify-content: space-around;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.contact-title {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.contact-title h2 {
  max-width: 35rem;
}
.form-contact {
  flex: 1;
}
.contact .container p {
  background: var(--white-color);
  width: 20rem;
  border-radius: 5rem;
  padding: 1.3rem;
  text-align: center;
  cursor: pointer;
  margin-top: 2rem;
}

.contact .input-group input,
.contact .input-group textarea {
  padding: 1.8rem;
  width: 100%;
  margin-top: 5rem;
  border: none;
  background: var(--white-color);
  font-size: 1.6rem;
  transition: all 0.2s;
  border: 1px solid var(--semi-black);
  border-radius: 0.5rem;
  color: var(--black-color);
}

.contact .input-button {
  text-align: right;
  margin-top: 2rem;
}
.contact .input-button button {
  background: var(--primary-color);
  border: none;
  color: var(--black-color);
}
.input-group input:hover,
.input-group textarea:hover {
  border: 1px solid var(--primary-color);
}

/* Footer =========* */

.footer {
  background: var(--black-color);
  text-align: center;
  padding: 5rem;
}

.footer p {
  font-size: 1.6rem;
  color: var(--white-color);
}

.footer span {
  color: var(--primary-color);
}

/* Menu mobile =========* */
#btnMobile {
  visibility: hidden;
}
@media (max-width: 1200px) {
  #menu {
    display: none;
  }

  #nav.active #menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: var(--black-color);
    left: 0;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    transition: all 0.4s;
    overflow: hidden;
  }

  #btnMobile {
    display: flex;
    visibility: visible;
    padding: 0.5rem 1rem;
    z-index: 5000;
    border: none;
    background: none;
    cursor: pointer;
  }
  #hamburguer {
    border-top: 2px solid;
    width: 20px;
    color: var(--primary-color);
  }
  #hamburguer::after {
    content: "";
    width: 20px;
    height: 2px;
    background: currentColor;
    display: block;
    margin-top: 5px;
  }
  #hamburguer::after,
  #hamburguer::before {
    content: "";
    width: 20px;
    height: 2px;
    background: currentColor;
    display: block;
    margin-top: 4px;
    transition: all 0.2s;
  }
  #nav.active #hamburguer {
    border-top-color: transparent;
  }
  #nav.active #hamburguer:before {
    transform: rotate(135deg);
  }
  #nav.active #hamburguer:after {
    transform: rotate(-135deg);
    position: relative;
    top: -6px;
  }
}
