/* Header =========* */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 0rem;
  z-index: 25;
  display: flex;
}
#logo {
  margin-right: 3rem;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-nav li {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2.4rem;
  transition: all 0.2s;
}
.header-nav ul li a:hover {
  color: var(--white-color);
}
.header-nav ul li a {
  display: flex;
  color: var(--primary-color);
}
.header-nav ul li {
  margin-right: 3rem;
}
.header-nav ul {
  display: flex;
  align-items: center;
}
.header-nav a {
  margin-right: 4rem;
}
.header-social {
  display: flex;
  align-items: center;
}
header .container {
  display: flex;
  justify-content: space-between;
  padding: 4rem 2rem;
  align-items: center;
  flex-wrap: wrap;
}
header .btn-header {
  background: var(--primary-color);
  text-transform: uppercase;
  color: var(--black-color);
}
header li .btn-header {
  color: var(--black-color);
}
.btn.btn-header:hover {
  background: var(--white-color);
}
.techs a img {
  transition: all 0.2s;
}
.techs a img:hover {
  transform: translateY(-10%);
}

.btn.empty:hover {
  background: var(--white-color);
  color: var(--black-color);
  border: 1px solid var(--semi-black);
}

/* Hero Section =========* */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 100)),
    url(../img/ales-nesetril-Im7lZjxeLhg-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center center;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero .container .hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 62rem;
  margin-top: 25rem;
  padding-bottom: 6rem;
}

.hero h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7rem;
  text-align: center;
  color: var(--white-color);
}
.hero h1 span {
  color: var(--primary-color);
}
.hero h2 {
  font-family: "Poppins";
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-top: 2.4rem;
}
.hero p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-align: center;
  color: var(--primary-color);
  margin-top: 3.2rem;
}

.techs {
  display: flex;
  margin-top: 2.3rem;
  justify-content: center;
  align-items: center;
}

.empty {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  margin-top: 4rem;
  padding: 1.2rem 3.6rem;
  transition: all 0.2s;
}
/* Success Section =========* */

.success {
  color: var(--white-color);
  padding: 4rem 2rem;
}
.chama {
  background: var(--white-color);
  width: 13rem;
  border-radius: 5rem;
  padding: 1.2rem;
  text-align: center;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  color: var(--black-color);
  background: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30rem;
  padding: 2rem;
  margin-right: 2.5rem;
  width: 32rem;
  transition: all 0.2s;
}
.card:hover {
  transform: scale(1.04);
}
.card:hover {
  opacity: 0.8;
}
.black {
  background-color: var(--black-color);
  padding: 0rem;
}
.black h3 {
  color: var(--white-color);
}
.yellow {
  background: var(--primary-color);
}
.card h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 6.4rem;
  line-height: 7.7rem;
}
.card.black h3 {
  font-weight: 800;
}
.card h3 span {
  color: var(--primary-color);
}

.card h4 {
  font-size: 3.2rem;
  line-height: 3.9rem;
  font-weight: 300;
  font-style: normal;
  font-family: "Inter";
}

/* About Section =========* */
.about {
  background-color: var(--semi-black);
  margin-top: 4rem;
}
.about .container {
  display: flex;
  margin-bottom: 4rem;
  align-items: center;
  justify-content: center;
}
.about-content {
  flex: 2;
  padding: 4rem 2rem;
}

.about-img {
  flex: 1;
  transition: all 0.2s;
}
.about-img:hover {
  transform: scale(1.05);
}

.about-content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  max-width: 70rem;
  padding: 2.4rem 0rem;
  color: var(--white-color);
}
.about-social {
  display: flex;
}

.about-social img {
  margin-right: 2rem;
  transition: all 0.2s;
}
.about-social img:hover {
  transform: translateY(-15%);
  opacity: 0.8;
}

/* Cases Section =========* */
.cases-section {
  padding: 4rem 2rem;
}
.cases {
  display: flex;
  position: relative;
  width: 100%;
  height: 48rem;
  padding: 4rem 2rem;
}
.cases .case {
  position: absolute;
  top: 0;
  left: 405px;
}
.cases .case:first-child {
  position: absolute;
  top: 0;
  left: 4px;
}
.cases .case:nth-child(2) {
  position: absolute;
  top: -20px;
  left: 315px;
  z-index: 1;
}

.cases .case:last-child {
  position: absolute;
  top: 0;
  left: 700px;
}
.cases a img {
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 0.4rem;
}
.cases a img:hover {
  transform: translateY(-2%);
}
.cases-title {
  padding: 6rem 0rem;
}

/* Contact Section =========* */

.contact .container {
  display: flex;
  justify-content: space-around;
  padding: 4rem 2rem;
}
.contact-title {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.form-contact {
  flex: 1;
}
.contact .container p {
  color: var(--black-color);
  background: var(--white-color);
  padding: 1.4rem 2rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 300;
  border-radius: 5rem;
  margin-top: 3rem;
}
.contact .input-group input,
.contact .input-group textarea {
  padding: 1.8rem;
  width: 100%;
  margin-top: 5rem;
  border: none;
  background: var(--semi-black);
  font-size: 1.6rem;
  transition: all 0.2s;
  border: 1px solid var(--semi-black);
  border-radius: 0.7rem;
}

.contact .input-button {
  text-align: right;
  margin-top: 2rem;
}
.contact .input-button button {
  background: var(--primary-color);
  border: none;
}
.input-group input:hover,
.input-group textarea:hover {
  border: 1px solid var(--primary-color);
}

/* Footer =========* */

.footer {
  background: var(--black-color-medium);
  text-align: center;
  padding: 5rem;
}

.footer p {
  font-size: 1.6rem;
  color: var(--white-color);
}

.footer span {
  color: var(--primary-color);
}
